{% extends "base_admin.html.twig" %}

{% block title %}
    Blog Symfony | Gestion des category
{% endblock %}

{% block body %}

    {# On utilise l'identifiant du message comme class bootstrap #}
    {% for label, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
            <div class="col-6 mx-auto text-center alert alert-{{ label }} my-5">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table table-striped vertical-border" id="table-backoffice-category">
        <thead>
            <tr>
                {% for data in colonnes %}
                    {% if data != 'id' %}
                        <th class="text-center">{{data|capitalize}}</th>            
                    {% endif %}
                {% endfor %}
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categorys %}
                <tr>
                    <td class="align-middle text-center">{{ category.titre}}</td>
                    <td class="align-middle text-center">{{ category.description}}</td>
                    <td class="align-middle text-center"><a href="{{ path('app_admin_add_category', {'id': category.id })}}" class="rounded bg-primary p-2 text-white d-flex justify-content-center align-items-center"><i class="bi bi-pencil-square"></i></a><a href="{{ path('app_admin_category_remove', {'id': category.id })}}" class="bg-danger p-2 mt-2 rounded text-white d-flex justify-content-center align-items-center"><i class="bi bi-trash-fill"></i></a></td>
                </tr> 
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
